@use "colours" as *;


// Import GOV.UK Frontend with custom configuration
@use "node_modules/govuk-frontend/dist/govuk" with (
  $govuk-brand-colour: $hounslow-primary,
  // Use Atkinson Hyperlegible instead of GDS Transport
  // Because we are not an official GOV.UK service, we can't use GDS Transport
  $govuk-font-family: var(--font-lexend),
  // Disable the default GDS Transport font-face
  $govuk-include-default-font-face: false,
  $govuk-assets-path: "/govuk-assets/",
);

@use "node_modules/govuk-frontend/dist/govuk/helpers";

h1 {
    @extend .govuk-heading-xl;
}

.govuk-heading-xl {
    color: $hounslow-primary;
}

.govuk-header {
    background-color: $hounslow-primary;
    color: $color-text-light;
    border: none;
}

.govuk-header__service-name {
    @extend h1;
    color: black;
    margin-bottom: 0;
    font-size: 2rem;
}


.preset-light-background {
    background-color: $color-background-light;
    .alt-text {
        color: $color-text-subheading;
    }
}

.preset-secondary-background {
    background-color: $color-secondary;
    color: $color-text-light;
    .alt-text {
        color: $color-text-light-alt;
    }
}       