@use "colours" as *;
@use 'sass:color';  


// Import GOV.UK Frontend with custom configuration
@use "node_modules/govuk-frontend/dist/govuk" with (
  $govuk-brand-colour: $hounslow-primary,
  // Use Atkinson Hyperlegible instead of GDS Transport
  // Because we are not an official GOV.UK service, we can't use GDS Transport
  $govuk-font-family: var(--font-lexend),
  // Disable the default GDS Transport font-face
  $govuk-include-default-font-face: false,
  $govuk-assets-path: "/govuk-assets/",
);

@use "node_modules/govuk-frontend/dist/govuk/helpers";

h1 {
    @extend .govuk-heading-xl;
}

.govuk-heading-xl {
    color: $hounslow-primary;
}

.govuk-header {
    background-color: $hounslow-primary;
    color: $color-text-light;
    border: none;
}

.govuk-header__service-name {
    @extend h1;
    color: black;
    margin-bottom: 0;
    font-size: 2rem;
}

.preset-secondary {
    color: $color-text-light;
    > .app-background {
        background-color: $color-secondary;
    }
    > .app-alt-text {
        color: $color-text-light-alt;
    }

    > .app-keep {
        @extend .preset-secondary;
    }

    > .app-hoverable {
        @extend .hoverable-secondary-background;
    }
}

.preset-light {
    color: black;
    > .app-background {
        background-color: $color-background-light;
    }
    > .app-alt-text {
        color: $color-text-subheading ;
    }

    > .app-keep {
        @extend .preset-light;
    }

    > .app-hoverable {
        @extend .hoverable-light-background
    }
}



@mixin hoverable($color-unselected, $color-hover, $color-text, $color-focus, $color-active) {
    background-color: $color-unselected;
    color: $color-text;
    transition: background-color 0.3s;
    &:hover {
        background-color: $color-hover;
    }
    &:focus {
        background-color: $color-focus;
        outline-width: 2;
        outline-color: $color-accent;
    }
    &:active {
        background-color: $color-active;
    }
}

.hoverable-secondary-background {
    @include hoverable(
        $color-secondary, 
        $color-background-medium, 
        $color-text-light, 
        $color-background-medium,
        $color-background-dark,
    );
}

.hoverable-light-background {
    @include hoverable(
        $color-background-light, 
        color.adjust($color-background-light, $lightness: 10%), 
        black, 
        color.adjust($color-background-light, $lightness: 10%), 
        $color-background-dark,
    );
    
}




